*{
    border: 0;
    padding: 0;
    margin: 0;
}

header{
    position: relative;
      width: 100%;
      height: 50vh;

}
header h1{
    font-family: cursive;
    font-size: 50px;

}
header img{
    width: 100%;
    height:45vh; 
    margin-top: 10px;
    

}
nav{
     position: absolute;
    right: 0%;
      
}

 nav a{
    text-decoration: none;
    color: white;
    margin: 2px;
    padding: 3px;
    border: 1px solid black;
    background-color: #1100ff;
    transition: all 1s;
    font-size: 20px;
    font-family: cursive;

}

nav a:hover{
    background-color: #10b166;
    color: white;
}
.title{
    border: 1px solid black;
   text-align: center;
}
main{
   height: 50vh;
    width: 100%;
    position: relative;
}
main img{
    width: 170px;
}
main h1{
        font-family: cursive;
}
figure{
    width: 30%;
}
section{  
    position: absolute;
    left: 24%;
    bottom: 30%;
    height: 46%;
}
.email{
    font-family: cursive;
    text-decoration: 0px;
}
h2{
    font-family: cursive;
    font-size: large;
}
p{
    font-size: 17px;
text-indent: 10px;}